{% extends "cart/cart_base.html" %}

{% load static %}

{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="table-wrap">
                <table class="table">
                    <thead class="thead-primary">
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Sub total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr class="alert" role="alert" data-item-id="{{ item.variant.id }}">
                            <td>
                                <label class="checkbox-wrap checkbox-primary">
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>
                                <div class="img" style="background-image:  url({{ item.get_variant_image.url }});"></div>
                            </td>
                            <td>
                                <div class="email">
                                    <span>{{ item.variant.name }}</span>
                                    <span>{{ item.variant.product.description }}</span>
                                </div>
                            </td>
                            <td>${{ item.variant.price }}</td>
                            <td class="quantity">
                                <div class="input-group">
                                    <button type="button" class="quantity-minus btn btn-primary btn-sm btn-number" data-type="minus" data-field="quantity{{ forloop.counter0 }}" data-variant="{{ item.variant.id }}">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <input type="text" name="quantity{{ forloop.counter0 }}" class="quantity form-control input-number" value="{{ item.quantity }}" min="1" max="{{ 5 }}" data-variant="{{ item.variant.id }}">
                                    <button type="button" class="quantity-plus btn btn-primary btn-sm btn-number" data-type="plus" data-field="quantity{{ forloop.counter0 }}" data-variant="{{ item.variant.id }}">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="subtotal">${{ item.get_subtotal }}</td>
                            <td>
                                <button type="button" class="close remove-item" data-variant="{{ item.variant.id }}" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card p-3">
                    <h3 class="billing-heading mb-4">Apply Coupon</h3>
                    <form id="applyCouponForm">
                        <div class="form-group">
                            <label for="couponCode">Coupon Code:</label>
                            <input type="text" class="form-control" id="couponCode" name="coupon_code" style="width: 70%;">
                        </div>
                        <div class="form-group">
                            <label for="availableCoupons">Available Coupons:</label>
                            <select class="form-select" id="availableCoupons" name="available_coupons">
                                <option value="">Select a Coupon</option>
                                {% for coupon in available_coupons %}
                                    <option value="{{ coupon.code }}">{{ coupon.code }} - {{ coupon.offer_percentage }}% off</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="button" class="btn btn-sm btn-primary" id="applyCouponBtn">Apply</button>
                        <button type="button" class="btn btn-sm btn-danger" id="removeCouponBtn" style="display: none;">Remove</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-3">
                    <h3 class="billing-heading mb-4">Cart Totals</h3>
                    <div class="cart-total mb-3">
                        <p class="d-flex" id="subtotal">
                            <span>Subtotal</span>
                            <span>${{ total_price }}</span>
                        </p>
                        <p class="d-flex">
                            <span id="coupon-discount-label">Coupon Discount</span>
                            <span id="coupon-discount">{% if cart.coupon_code %} ${{ cart.discount_amount|floatformat:2 }} {% else %} Not applied {% endif %}</span>
                        </p>
                        <p class="d-flex">
                            <span id="discount-label">Discount</span>
                            <span id="discount">${{ cart.get_total_discount_amount|floatformat:2 }}</span>
                        </p>
                        <hr>
                        <p class="d-flex total-price" id="total-price">
                            <span id="total-label">Total</span>
                            <span id="total-amount">{% if cart.coupon_code %} ${{ cart.discounted_price|floatformat:2 }} {% else %} ${{ total_price|floatformat:2 }} {% endif %}</span>
                        </p>
                    </div>
                    <p class="text-center"><a href="{% url 'checkout' %}" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
                </div>
            </div>
        </div>
        
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const csrftoken = '{{ csrf_token }}';

    function updateCartTotals() {
        let totalSubtotal = 0;
        const subtotalElements = document.querySelectorAll('.subtotal');
        subtotalElements.forEach(subtotal => {
            totalSubtotal += parseFloat(subtotal.innerText.replace('$', ''));
        });

        document.getElementById('subtotal').lastElementChild.innerText = `$${totalSubtotal.toFixed(2)}`;

        const discountElement = document.getElementById('discount');
        let discountAmount = parseFloat(discountElement.innerText.replace('$', '')) || 0;

        fetch('/cart/get_discount/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ subtotal: totalSubtotal })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                discountAmount = data.discount_amount;
                discountElement.innerText = `$${discountAmount.toFixed(2)}`;
                const totalAmount = totalSubtotal - discountAmount;
                document.getElementById('total-amount').innerText = `$${totalAmount.toFixed(2)}`;
            } else {
                discountElement.innerText = `$0.00`;
                document.getElementById('total-amount').innerText = `$${totalSubtotal.toFixed(2)}`;
            }
        })
        .catch(error => {
            console.error('Error fetching discount:', error);
            discountElement.innerText = `$0.00`;
            document.getElementById('total-amount').innerText = `$${totalSubtotal.toFixed(2)}`;
        });

        if (totalSubtotal === 0) {
            removeCoupon(true);
        }
    }

    function updateQuantity(btn, type) {
        const inputField = btn.parentElement.querySelector('input.quantity');
        let currentQuantity = parseInt(inputField.value);
        let newQuantity = currentQuantity;
        
        if (type === 'minus' && currentQuantity > 1) {
            newQuantity -= 1;
        } else if (type === 'plus' && currentQuantity < 5) {
            newQuantity += 1;
        } else {
            Swal.fire({
                icon: 'warning',
                title: 'Quantity Limit',
                text: 'Limit is 5 and minimum is 1',
                timer: 3000,
                timerProgressBar: true,
            });
            return;
        }
        
        const variantId = btn.getAttribute('data-variant');
        
        fetch(`/cart/update_quantity/${variantId}/${newQuantity}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                inputField.value = data.quantity;
                updateSubtotal(parseInt(variantId), data.quantity);
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Update Failed',
                    text: data.message,
                    timer: 3000,
                    timerProgressBar: true,
                });
                inputField.value = currentQuantity;  // Revert to the previous valid quantity
            }
        })
        .catch(error => {
            console.error('Error updating quantity:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred while updating the quantity.',
                timer: 3000,
                timerProgressBar: true,
            });
            inputField.value = currentQuantity;  // Revert to the previous valid quantity in case of network error
        });
    }

    function updateSubtotal(variantId, quantity) {
        const row = document.querySelector(`[data-item-id="${variantId}"]`);
        if (!row) {
            console.error('Row is null. Variant ID:', variantId);
            return;
        }

        const price = parseFloat(row.querySelector('td:nth-child(4)').innerText.replace('$', ''));
        const subtotal = (price * quantity).toFixed(2);
        row.querySelector('.subtotal').innerText = `$${subtotal}`;

        updateCartTotals();
    }

    function removeItem(btn) {
        const variantId = btn.getAttribute('data-variant');

        Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to remove this item from your cart?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, remove it!',
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/cart/remove_from_cart/${variantId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const row = btn.closest('tr');
                        row.remove();
                        updateCartTotals();
                        Swal.fire({
                            icon: 'success',
                            title: 'Removed!',
                            text: data.message,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.message,
                            timer: 3000,
                            timerProgressBar: true,
                        });
                    }
                })
                .catch(error => {
                    console.error('Error removing item:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while removing the item.',
                        timer: 3000,
                        timerProgressBar: true,
                    });
                });
            }
        });
    }

    function removeCoupon(updateCart = false) {
        fetch('/cart/remove_coupon/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('coupon-discount').innerText = 'Not applied';
                document.getElementById('total-amount').innerText = `$${data.total_price}`;
                document.getElementById('applyCouponBtn').style.display = 'block';
                document.getElementById('removeCouponBtn').style.display = 'none';
                document.getElementById('couponCode').value = '';
            } else {
                alert(data.message);
            }

            if (updateCart) {
                updateCartTotals();
            }
        })
        .catch(error => {
            console.error('Error removing coupon:', error);
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        const quantityMinusBtns = document.querySelectorAll('.quantity-minus');
        const quantityPlusBtns = document.querySelectorAll('.quantity-plus');
        const removeItemBtns = document.querySelectorAll('.remove-item');

        quantityMinusBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                updateQuantity(btn, 'minus');
            });
        });

        quantityPlusBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                updateQuantity(btn, 'plus');
            });
        });

        removeItemBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                removeItem(btn);
            });
        });

        const availableCouponsDropdown = document.getElementById('availableCoupons');
        const couponCodeInput = document.getElementById('couponCode');
        const applyCouponBtn = document.getElementById('applyCouponBtn');
        const removeCouponBtn = document.getElementById('removeCouponBtn');

        availableCouponsDropdown.addEventListener('change', () => {
            const selectedCoupon = availableCouponsDropdown.value;
            couponCodeInput.value = selectedCoupon;
            applyCouponBtn.style.display = 'block';
            removeCouponBtn.style.display = 'none';
        });

        applyCouponBtn.addEventListener('click', () => {
            const couponCode = couponCodeInput.value.trim();
            if (couponCode === '') {
                alert('Please select a coupon first.');
                return;
            }

            fetch('/cart/apply_coupon/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({ coupon_code: couponCode })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const discountAmount = Math.round(data.discount_amount * 100) / 100;
                    const discountedPrice = Math.round(data.discounted_price * 100) / 100;
                    document.getElementById('coupon-discount').innerText = `$${discountAmount.toFixed(2)}`;
                    document.getElementById('total-amount').innerText = `$${discountedPrice.toFixed(2)}`;
                    applyCouponBtn.style.display = 'none';
                    removeCouponBtn.style.display = 'block';
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error applying coupon:', error);
            });
        });

        removeCouponBtn.addEventListener('click', () => {
            removeCoupon();
        });
    });
</script>
{% endblock scripts %}

