{% extends 'admin_panel/admin_base.html' %}
{% load static %}

{% block content %}
<section class="content-main">
    <div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#menu1">Best selling products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu2">Best selling categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu3">Best selling brands</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="menu1" class="container tab-pane active"><br>
                <h3>Best Selling Products</h3>
                <div class="row">
                    {% for product in top_products %}
                        <div class="col-xl-3 col-lg-4 col-md-6"> 
                            <div class="card card-product-grid">
                                <a href="{% url 'product_detail' product.product__id  %}" class="img-wrap">
                                    <img src="{{ product.variant_image }}" alt="Product">
                                </a>
                                <div class="info-wrap">
                                    <div class="dropdown float-end">
                                        <a href="/admin/edit-pro?id={{ product.product__id }}" class="btn btn-sm btn-brand rounded">
                                            <i class="material-icons md-edit mr-5"></i>Edit
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="/admin/edit-pro?id={{ product.product__id }}">Edit info</a>
                                        </div>
                                    </div>
                                    <a href="{% url 'product_detail' product.id %}" class="title">{{ product.name }}</a>
                                    <div class="price mt-1">RS. {{ product.price }}</div> <!-- price-wrap.// -->
                                    <div class="category">Category: {{ product.product__category__category_name }}</div>
                                    <div class="brand">Brand: {{ product.product__brand__name }}</div>
                                </div>
                            </div> <!-- card-product  end// -->
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="menu2" class="container tab-pane fade"><br>
                <h3>Best Selling Categories</h3>
                <div class="row">
                    {% for category in top_categories %}
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="card card-category-grid">
                                <a href="#" class="img-wrap">
                                    <img src="{{ MEDIA_URL }}{{ category.category__cat_image }}" alt="Category Image">
                                    
                                </a>
                                <div class="info-wrap">
                                    <a href="#" class="title">{{ category.category__category_name }}</a>
                                </div>
                            </div> <!-- card-category  end// -->
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div id="menu3" class="container tab-pane fade"><br>
                <h3>Best Selling Brands</h3>
                <div class="row">
                    {% for brand in top_brands %}
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="card card-brand-grid">
                                <div class="info-wrap">
                                    <a href="#" class="title">{{ brand.brand__name }}</a>
                                    <!-- You can add more brand details here if needed -->
                                </div>
                            </div> <!-- card-brand  end// -->
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
