{% extends 'admin_panel/admin_base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Category</h2>
                    <div>
                        <button class="btn btn-md rounded font-sm hover-up">Create</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        {% for field in form %}
                        <div class="mb-4">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div> <!-- card end// -->
                
            </div>
        </div>
    </form>
</section>
<!-- 
    To provide a dynamic user experience where users can see the slug being generated in real-time 
    as they type the product name
-->

{% endblock %}
{% block scripts %}
{% comment %} <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> {% endcomment %}
<script>
    $(document).ready(function () {
        // Function to generate slug from product name
        function generateSlug(value) {
            return value.toLowerCase().replace(/\s+/g, '-').replace(/[^\w-]+/g, '');
        }

        // Listen for input changes in the product name field
        $('#id_category_name').on('input', function () {
            // Get the value of the product name field
            var productName = $(this).val();

            // Generate the slug
            var slug = generateSlug(productName);

            // Update the slug field
            $('#id_slug').val(slug);
        });
    });
</script>
{% endblock scripts %}
