{% extends "user_profile/user_base.html" %}
{% load static %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Add New Address</div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.name != 'is_default' %} 
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        <div class="col-md-6">
                                            {{ field }}
                                            {% for error in field.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <!-- Set the value of the checkbox to 'on' when checked -->
                                        <input class="form-check-input" type="checkbox" id="default_address_checkbox" name="is_default" value="on">
                                        <label class="form-check-label" for="default_address_checkbox">
                                            Set as Default
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">Save Address</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   
{% endblock content %}
